lxml==4.3.4
pytest==6.0.2
mock==4.0.2
aiohttp==3.6.2
scipy==1.2.1
pandas==1.0.5
numpy==1.17.1
Cython==0.29.21
brotlipy==0.7.0
cryptography==3.1.1
aiohttp_cors==0.7.0
brotli==1.0.9
dataclasses==0.8
flake8==3.9.2
ipaddr==2.2.0
ordereddict==1.1
pip_api==0.0.20
protobuf==3.17.3
pyenchant==3.2.1
pylama==7.7.1
pyOpenSSL==20.0.1
requirementslib==1.5.16
scikit_learn==0.24.2
simplejson==3.17.3
unicodedata2==13.0.0.post2
uvloop==0.15.3
wincertstore==0.2.1
